:root{
  --body-color: #161722;
  --todobox-color: #25273c;
  --todotext-color: #cacde8;
  --todotext-color-hover: #e4e5f1;
  --color-one: #777a92;
  --color-two: #4d5066;
  --color-three: #393a4c;
  --color-outline: #fff;
  --active: #3a7bfd;
  --text-light: #484b6a;
  --shadow: transparent;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-color);
  
  font-family: "Josefin Sans",sans-serif;
  height: 100vh;
}

#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
